.mainBtn {
  padding: 20px 30px;
  background: #ffe225;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  line-height: 1;
}